__pycache__
env.yml
.pytest_cache
.DS_Store

env/secrets.env

notebook/*
project/src/log/*
docker/databases/mongo/data/configdb/*
docker/databases/mongo/data/db/*
docker/databases/redis/data/*
secrets/*
credentials/*
!.gitkeep
!attention.txt

# Supabase
.branches
.temp
