########################################################################################
# ⚠️⚠️⚠️ WARNING: DO NOT PUSH THIS FILE TO YOUR GIT REPOSITORY! ⚠️⚠️⚠️                      #
# This file contains sensitive information and MUST be kept private.                  #
# Ensure that it is added to your .gitignore file to AVOID ACCIDENTALLY EXPOSING it.  #
########################################################################################

OPENAI_API_KEY=hogehoge
MONGO_USER=testUser
MONGO_PASS=password
MONGO_ENDPOINT=mongo_db
SQL_USER=testuser
SQL_PASS=password
SQL_ENDPOINT=postgres_db
SUPABASE_URL=
SUPABASE_DB_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
