########################################################################################
# ⚠️⚠️⚠️ WARNING: DO NOT PUSH THIS FILE TO YOUR GIT REPOSITORY! ⚠️⚠️⚠️                      #
# This file contains sensitive information and MUST be kept private.                  #
# Ensure that it is added to your .gitignore file to AVOID ACCIDENTALLY EXPOSING it.  #
########################################################################################

OPENAI_API_KEY=
